// Variables
$gray-middle: #d8d8d8;
$line-height-small: 1.2;
$line-height-big: 1.8;
$transparent: transparent;
$card-tag: $gray-middle;

// Breakpoints
@mixin breakpoint($point) {

  @if $point == desktop {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 960px) {
      @content;
    }
  } @else if $point == fordsonfall {
    @media (max-width: 959px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == mobile-tablet {
    @media (min-width: 550px) {
      @content;
    }
  }
}

//FLEX MIXINS
@mixin justify-content($value) {
  justify-content: $value;
  -webkit-justify-content: $value;
}

// FontAwesome
$fa-folder-open: "\f07c";


/* FEATURED COURSES */

.block_featuredcourses,
.pagelayout-coursecategory .course_category_tree:not(.category-browse),
#page-course-search {
  .card-group {
    width: 100%; /*needed for ie 10+ for full width*/
    max-width: 90%;
    margin: 0 auto;
    @include justify-content(space-between);

    .card.coursebox {
      width: 100%;
      min-width: 100%;
      padding: 0.5rem;
      margin-bottom: 3rem;
      border: 1px solid $gray-middle;

      @include breakpoint(tablet) {
        flex: 1 0 50%;
        min-width: 48%;
        max-width: 48%;
      }
      @include breakpoint(laptop) {
        flex: 1 0 30%;
        min-width: auto;
        max-width: 22%;

      }

      &:nth-child(2):last-child {
        @include breakpoint(laptop) {
          margin-left: auto;
          margin-right: 4%;
        }
      }


      //course image
      .courseimagewrapper {
        max-height: 9rem;
        overflow: hidden;
        border: 1px solid $gray-middle;
        margin-bottom: 0.5rem;

        @include breakpoint(fordsonfall) {
          max-height: 15rem;
        }
        @include breakpoint(mobileonly) {
          max-height: 25rem;
        }

        img {
          width: 100%;
        }
      }

      //course details
      .courseinfowrapper {

        //category
        .coursecategory {
          color: $color_allports_approx;
          font-weight: 600;
          display: block;
          padding: 0 1.5rem;
          position: relative;

          &:before {
            display: block;
            content: $fa-folder-open;
            font-family: FontAwesome;
            position: absolute;
            top: 0;
            /*rtl:begin:ignore*/
            right: 0;
            /*rtl:end:ignore*/
          }
        }

        //name
        .coursename {
          font-weight: 600;
          line-height: $line-height-small;
          display: block;
          margin-bottom: 0;

          a {
            color: $color_allports_approx;
          }
        }

        //course target & section  (thum limud & kehal yaad)
        .metadata {
          margin: 0;

          .fielddefinition {
            // this is to prevent line to break into 2 in chrome
            white-space: nowrap;
          }
        }

        .fielddefinition, .fieldvalue {
          display: inline-block;
          margin: 0;
        }

      }

      //tags
      .tagswrapper {
        padding: 0 3rem;
        line-height: $line-height-big;
        border-top: none;
        background-color: $transparent;

        a {
          text-decoration: none;
          background-color: $card-tag;
          margin-left: 0.4rem;
          padding: 0 0.6rem;
        }
      }

      // lock or unlock icon - apears in courses list in category page
      .enrolmenticons {
        text-align: left;
        padding: 0 1rem;
      }
    }

  }
}

body:not(.pagelayout-frontpage) .course_category_tree {
  margin-top: 4rem;
  padding-top: 5rem;
}

body#page-course-search {
  .card-group {
    @include justify-content(flex-start);
  }

  .card.coursebox {
    margin: 0 1% 4rem;
  }
}

/* MY COURSES */
.coursebox {
  & > .info > .coursename,
  .content .teachers li {
    a {
      color: $color_allports_approx;
    }
  }
}